In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./ad.csv')
df

     ad_id  action
0        B       1
1        B       1
2        A       0
3        B       0
4        A       1
...    ...     ...
1995     A       0
1996     A       0
1997     A       0
1998     A       1
1999     A       0

[2000 rows x 2 columns]

In [4]:
df.groupby(by=['ad_id']).describe()

       action
        count   mean       std  min  25%  50%  75%  max
ad_id
A      1000.0  0.304  0.460213  0.0  0.0  0.0  1.0  1.0
B      1000.0  0.372  0.483580  0.0  0.0  0.0  1.0  1.0

In [12]:
# H0-средние в группах A и B равны
# H1-средние в группах A и B значимо отличаются

In [10]:
import numpy as np
from scipy import stats
alpha = 0.05

In [25]:
stats.ttest_ind(
    df[df.ad_id=='A'].action.values, 
    df[df.ad_id=='B'].action.values, alternative='less')

Ttest_indResult(statistic=-3.2211732138019786, pvalue=0.0006485952733562623)

In [26]:
pvalue=0.0006485952733562623

In [27]:
if pvalue>alpha:
    print ("Принимаем гипотезу H0")
else:
    print ("Принимаем гипотезу H1")

Принимаем гипотезу H1